<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site HTML, CSS, Python e Flask</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <h1>Site Flask</h1>
    </header>
    <main>
        <h1>Página inicial</h1>
        <p>Seja bem vindo(a) a página inicial</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus impedit, facere amet hic nisi assumenda, labore consequatur vitae nemo, reprehenderit ipsa totam doloribus blanditiis aspernatur qui dolore molestiae dignissimos mollitia!</p>
        <a href="http://127.0.0.1:5000/user/paulo">User Paulo</a>
    </main>
    <footer>
        <p>por Paulo Victor</p>
    </footer>
</body>
</html>