<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user }}</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <h1>Dados cadastrais</h1>
    </header>
    <main>
        <h2>Nome:</h2>
        <li>{{name}}</li>
        <h2>Usuário:</h2>
        <li>{{user}}</p>
        <h2>E-mail:</h2>
        <li>{{email}}</li>
        <a href="http://127.0.0.1:5000/">HOME</a>
    </main>
    <footer>
        <p>por Paulo Victor</p>
    </footer>
</body>
</html>